**/__pycache__/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

**/.mypy_cache/
.mypy_cache/
**/.pytest_cache/
.pytest_cache/
.hypothesis/

.git/
.gitignore
.dockerignore
.env
.env.*
.venv
research/
tests/
*.log
